<div id="page">
    <ul>
        <li><span class="page-disabled">首页</span></li>
        <li><a href="__ROOT__/index.php?s=/Blog/Search/index/keyword/css/p/2" target="_self">上一页</a></li>
        <li><a href="__ROOT__/index.php?s=/Blog/Search/index/keyword/css/p/1" target="_self">1</a></li>
        <li><a href="__ROOT__/index.php?s=/Blog/Search/index/keyword/css/p/2" target="_self">2</a></li>
        <li><a class="page-active" href="__ROOT__/index.php?s=/Blog/Search/index/keyword/css/p/3" target="_self">3</a></li>
        <li><a href="__ROOT__/index.php?s=/Blog/Search/index/keyword/css/p/4" target="_self">4</a></li>
        <li><a href="__ROOT__/index.php?s=/Blog/Search/index/keyword/css/p/5" target="_self">5</a></li>
        <li><a href="__ROOT__/index.php?s=/Blog/Search/index/keyword/css/p/6" target="_self">6</a></li>
        <li><a href="__ROOT__/index.php?s=/Blog/Search/index/keyword/css/p/7" target="_self">7</a></li>
        <li><a href="__ROOT__/index.php?s=/Blog/Search/index/keyword/css/p/4" target="_self">下一页</a></li>
        <li><a href="__ROOT__/index.php?s=/Blog/Search/index/keyword/css/p/8" target="_self">尾页</a></li>
    </ul>
</div>