<ul class="user-list">
    <li>
        <img src="__IMG__/author.jpg" alt="user"/>
        <div class="user-list-info">
            <p><a href="#" target="_self">AidanDai</a><p/>
            <p>以大多数人的努力程度之低，根本轮不到拼天赋……</p>
        </div>
        <div class="user-list-article">
            <div>
                <span>文章</span>
                <span>123</span>
            </div>
            <div class="cut-line"></div>
            <div>
                <span>浏览量</span>
                <span>235</span>
            </div>
        </div>
    </li>
    <li>
        <img src="__IMG__/author.jpg" alt="user"/>
        <div class="user-list-info">
            <p><a href="#" target="_self">AidanDai</a><p/>
            <p>以大多数人的努力程度之低，根本轮不到拼天赋……</p>
        </div>
        <div class="user-list-article">
            <div>
                <span>文章</span>
                <span>123</span>
            </div>
            <div class="cut-line"></div>
            <div>
                <span>浏览量</span>
                <span>235</span>
            </div>
        </div>
    </li>
    <li>
        <img src="__IMG__/author.jpg" alt="user"/>
        <div class="user-list-info">
            <p><a href="#" target="_self">AidanDai</a><p/>
            <p>以大多数人的努力程度之低，根本轮不到拼天赋……</p>
        </div>
        <div class="user-list-article">
            <div>
                <span>文章</span>
                <span>123</span>
            </div>
            <div class="cut-line"></div>
            <div>
                <span>浏览量</span>
                <span>235</span>
            </div>
        </div>
    </li>
    <li>
        <img src="__IMG__/author.jpg" alt="user"/>
        <div class="user-list-info">
            <p><a href="#" target="_self">AidanDai</a><p/>
            <p>以大多数人的努力程度之低，根本轮不到拼天赋……</p>
        </div>
        <div class="user-list-article">
            <div>
                <span>文章</span>
                <span>123</span>
            </div>
            <div class="cut-line"></div>
            <div>
                <span>浏览量</span>
                <span>235</span>
            </div>
        </div>
    </li>
    <li>
        <img src="__IMG__/author.jpg" alt="user"/>
        <div class="user-list-info">
            <p><a href="#" target="_self">AidanDai</a><p/>
            <p>以大多数人的努力程度之低，根本轮不到拼天赋……</p>
        </div>
        <div class="user-list-article">
            <div>
                <span>文章</span>
                <span>123</span>
            </div>
            <div class="cut-line"></div>
            <div>
                <span>浏览量</span>
                <span>235</span>
            </div>
        </div>
    </li>
    <li>
        <img src="__IMG__/author.jpg" alt="user"/>
        <div class="user-list-info">
            <p><a href="#" target="_self">AidanDai</a><p/>
            <p>以大多数人的努力程度之低，根本轮不到拼天赋……</p>
        </div>
        <div class="user-list-article">
            <div>
                <span>文章</span>
                <span>123</span>
            </div>
            <div class="cut-line"></div>
            <div>
                <span>浏览量</span>
                <span>235</span>
            </div>
        </div>
    </li>
</ul>