<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
	    <include file="./Application/Home/View/default/Public/head.html"/>

	    <!--private head-->
	    <meta name="author" content="Aidan Dai, webaidandai@gmail.com, www.aidandai.com"/>
	    <link rel="stylesheet" type="text/css" href="__COMMON__/css/common.css"/>
	    <link rel="stylesheet" type="text/css" href="__COMMON__/css/menu.css"/>
	    <link rel="stylesheet" type="text/css" href="__COMMON__/css/blog-nav.css"/>
	    <link rel="stylesheet" type="text/css" href="__COMMON__/css/public.css"/>
	    <link rel="stylesheet" type="text/css" href="__CSS__/index-index.css"/>
	    <link rel="stylesheet" type="text/css" href="__CSS__/lists-atricale.css"/>
	    <!--/private head-->
	</head>
	<body style="background-color: #fff;">
	<include file="./Application/Home/View/default/Public/menu.html" />
	<include file="Public/article-blog-nav" />
	<include file="./Application/Home/View/default/Public/var.html" />
	<section>
		<include file="./Application/Home/View/default/User/user-articale.html" />	
		<include file="Public/right-tags" />
	</section>
	<include file="./Application/Home/View/default/Public/footer.html" />
	</body>
</html>