*{
	margin: 0px;
	padding:0px;
	text-decoration: none;
}
.main{
	position: relative;
    height:auto;
    min-height: 100%;
    width:93%;
    padding-top: 50px;
    margin:0 auto;
    background-color:#00A185;
    padding-bottom: 30px;
}
.content{
	width:1000px;
	height: 100%; 
    margin:0px auto;
    background-color:white;
    font-size:15px;
    box-shadow: 0 0 22px #000;
    padding-bottom: 13px;
}
.personal{
	width: 620px;
	margin: 0 auto;
	border: 1px solid #fff;
}
.myletter{
	margin: 20px;
	color:rgba(0, 0, 0, 0.8);
}
.letblock{
	margin-left:20px;
	margin-top: 30px; 
}
.left{
	width: 54px;
	height: 64px;    
	float: left;
}
.headimg{
    width:50px;
    height:50px;
    border-radius: 50px;

}
.right{
	margin-left: 80px;
}
.username{
	color:#00B6FF;
	float: left;
}
.detail{
	color: rgba(0, 0, 0, 0.61);
}
.data{
	width: 150px;
	margin-top: 20px;
	color:rgba(0, 0, 0, 0.28);
}
.dialogue{
	float: right;
	margin-top: -17px;
	color:rgba(0, 112, 255, 0.58);
}