<!DOCTYPE html>
<html lang="zh-cmn-hans">
<head>
    <meta charset="utf-8" />
    <title>LSGO - let us go!</title>
    <meta name="description" content="LSGOgroup-MarkDown"/>
    <meta name="keywords" content="LSGOgroup-MarkDown"/>
    <meta name="author" content="Aidan Dai, webaidandai@gmail.com, www.aidandai.com"/>
    <meta name="robots" content="all"/>
    <link rel="stylesheet" href="__ROOT__/mdeditor/write/css/style.css" />
    <link rel="stylesheet" href="__ROOT__/mdeditor/css/editormd.css" />
    <link rel="shortcut icon" href="__ROOT__/Public/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__ROOT__/mdeditor/write/css/my-style.css" />
</head>
<body>
<div id="layout">
    <div id="mdeditor-top">
        <header id="mdeditor-header">
            <div class="description">
                <input type="text" name="blog-description" placeholder="概述" value="{$data.description}">
            </div>
            <notempty name="tag">
                <div class="tag">
                    <div class="controls">
                        <volist name="tag" id="tag">
                            <div class='checkbox'>
                                <input class='tag-item' {$tag.checked} type="checkbox" value="{$tag.id}">{$tag.tag_name}
                            </div>
                        </volist>
                    </div>
                    <label class="item-label">标签
                        <span class="check-tips">（*必填）</span>
                    </label>
                </div>
            </notempty>
        </header>
        <div id="mdeditor-title">
            <input type="text" name="blog-title" placeholder="文章标题（*必填）" value="{$data.title}">
            <div class="btns">
                <button id="preview-btn">在线预览</button>
                <button id="submit-btn">发表博客</button>
            </div>
        </div>
        <input type="hidden" name="id" value="{$info.id|default=''}"/>
        <input type="hidden" name="pid" value="{$info.pid|default=''}"/>
        <input type="hidden" name="model_id" value="2"/>
        <input type="hidden" name="group_id" value="{$info.group_id|default=''}"/>
        <input type="hidden" name="category_id" value="{$info.cate_id|default=''}">
    </div>
    <div class="test-editormd-box">
        <div id="test-editormd"></div>
    </div>
</div>
<script src="__ROOT__/mdeditor/write/js/jquery.min.js"></script>
<script src="__ROOT__/mdeditor/editormd.min.js"></script>
<script type="text/javascript">
    $(function(){
        $.post(
                "__ROOT__/admin.php?s=/Article/mdedit/id/" + $("input[name=id]").val() + ".html",
                {markdown: 1},
                function(data){
                    testEditor = editormd("test-editormd", {
                        width: "100%",
                        height: "100%",
                        path : "__ROOT__/mdeditor/lib/",
                        markdown: data,
                        codeFold : true,
                        saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                        searchReplace : true,
                        htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
                        emoji : true,
                        taskList : true,
                        tocm            : true,         // Using [TOCM]
                        tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                        flowChart : true,             // 开启流程图支持，默认关闭
                        sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                        imageUpload : true,
                        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                        imageUploadURL : "__ROOT__/mdeditor/write/php/upload.php?test=dfdf",
                    });
                }
        );

        $("#preview-btn").bind('click', function() {
            testEditor.previewing();
        });

        $("#submit-btn").bind('click', function() {
            var arTag = [],
                tag_ids,
                defualt_tag_id;
            $.each($("input:checked"),function(index,input){
                arTag.push($(input).val());
            });
            defualt_tag_id = arTag[0];
            tag_ids = arTag.join(',');

            var post = {
                id: $("input[name=id]").val(),
                title: $("input[name=blog-title]").val(),
                description: $("input[name=blog-description]").val(),
                content: testEditor.getValue(),
                tag_ids: tag_ids,
                defualt_tag_id: defualt_tag_id,
                pid: $("input[name=pid]").val(),
                model_id: $("input[name=model_id]").val(),
                category_id: $("input[name=category_id]").val(),
                //mdeditor: 1,
            }
            if(!post.title.length){
                alert('标题必填！');
            }else if(!post.content.length){
                alert('内容必填！');
            }else if(!post.tag_ids.length){
                alert('标签必填！');
            }else{
                $.post(
                        "__ROOT__/admin.php?s=/Article/mdupdate.html",
                        post,
                        function(data){
                            if(data.status){
                                window.location.href = "__ROOT__/admin.php?s=/Article/index/cate_id/" + $("input[name=category_id]").val() + ".html";
                            }else{
                                alert(data.info);
                            }
                        }
                );
            }
        });
    });   
</script>
</body>
</html>